<% if not flash.empty? %>
  <div class="uk-container">
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
        <%= type %>
      </div>
    <% end %>
  </div>
<% end %>